[submodule "lib/pico-interactive-ui"]
	path = lib/pico-interactive-ui
	url = https://github.com/zyoung71/pico-interactive-ui
[submodule "lib/pico-st7789"]
	path = lib/pico-st7789
	url = https://github.com/zyoung71/st7789-library-for-pico
